name: Upload Python Package

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run tests
        uses: ./.github/workflows/test-workflow.yml

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
